<HeadContent>
    <link href="_content/Community.Blazor.MapLibre/maplibre-5.3.0.min.css" rel="stylesheet" />
</HeadContent>

<div id="@MapId"
     style="width: @Width; height: @Height"
     class="@Class">
</div>