@page "/Example"
@using Community.Blazor.MapLibre.Examples.WebAssembly.Shared

<h2>Examples</h2>
<p>
    This is list of few example usages of the Blazor.MapLibre
</p>
<div class="d-flex flex-wrap flex-column flex-xl-row gap-3 mb-5">

    @foreach (var item in _samplesList)
    {
        <GridCard Title="@item.Title"
                  TargetUrl="@item.Url"
                  ImageUrl="@item.ImageUrl"
                  Class="@($"col-3 {item.Class}")"/>
    }

</div>


@code
{
    private readonly List<MapSampleItem> _samplesList =
    [
        new() { Title = "Load GeoJSON", Url = "Examples/LoadGeoJson", ImageUrl = "img/examples/geojson.png"},
        new() { Title = "Add Listener", Url = "Examples/AddListener", ImageUrl = "img/examples/listener.png" },
        new() { Title = "Fit Bounds", Url = "Examples/FitBounds", ImageUrl = "img/examples/fitbounds.png" },
        new() { Title = "Create Popup", Url = "Examples/CreatePopup", ImageUrl = "img/examples/popup.png" },
        new() { Title = "Render Globe", Url = "Examples/RenderGlobe", ImageUrl = "img/examples/globe.png" },
        new() { Title = "Mapbox Draw GLJS", Url = "Examples/MapboxGlDraw", ImageUrl = "img/examples/drawgljs.png" },
        new() { Title = "Create marker", Url = "Examples/marker", ImageUrl = "img/examples/marker.png" },
        new() { Title = "Multiple maps", Url = "Examples/multiple-maps", ImageUrl = "img/examples/basic.png" },
    ];

    // ExampleItem class to store information
    private class MapSampleItem
    {
        public string Title { get; set; } = string.Empty;
        public string Url { get; set; } = string.Empty;
        public string ImageUrl { get; set; } = string.Empty;
        public string? Class { get; set; }
    }

}
