@page "/Examples/CreatePopup"
@using Community.Blazor.MapLibre.Models
@using Community.Blazor.MapLibre.Models.Event

<h3>Create Popup</h3>

<MapLibre @ref="_map"
          Options="_mapOptions"
          OnLoad="OnMapLoad"
          Class="rounded-top"
          Height="600px">
</MapLibre>

@code
{
    private MapLibre? _map { get; set; }
}