@page "/Example"
@using Community.Blazor.MapLibre.Examples.WebAssembly.Shared

<h2>Examples</h2>
<p>
    This is list of few example usages of the Blazor.MapLibre
</p>
<div class="d-flex flex-wrap flex-column flex-xl-row gap-3 mb-5">

    @foreach (var item in _samplesList)
    {
        <GridCard Title="@item.Title" TargetUrl="@item.Url" Class="@($"col-3 {item.Class}")" />
    }

</div>


@code
{
    private List<MapSampleItem> _samplesList = new()
    {
        new MapSampleItem { Title = "Load GeoJSON", Url = "/Examples/LoadGeoJson" },
        new MapSampleItem { Title = "Add Listener", Url = "/Examples/AddListener" },
        new MapSampleItem { Title = "Fit Bounds", Url = "/Examples/FitBounds" },
        new MapSampleItem { Title = "Create Popup", Url = "/Examples/CreatePopup" },
    };

    // ExampleItem class to store information
    private class MapSampleItem
    {
        public string Title { get; set; } = string.Empty; 
        public string Url { get; set; } = string.Empty;
        public string? Class { get; set; }
    }

}
