@page "/Example"
@using Community.Blazor.MapLibre.Examples.WebAssembly.Shared

<h2>Examples</h2>
<p>
    This is list of few example usages of the Blazor.MapLibre
</p>
<div class="d-flex flex-wrap flex-column flex-xl-row gap-3 mb-5">

    @foreach (var item in _samplesList)
    {
        <GridCard Title="@item.Title"
                  TargetUrl="@item.Url"
                  Class="@($"col-3 {item.Class}")"/>
    }

</div>


@code
{
    private readonly List<MapSampleItem> _samplesList =
    [
        new() { Title = "Load GeoJSON", Url = "/Examples/LoadGeoJson" },
        new() { Title = "Add Listener", Url = "/Examples/AddListener" },
        new() { Title = "Fit Bounds", Url = "/Examples/FitBounds" },
        new() { Title = "Create Popup", Url = "/Examples/CreatePopup" },
        new() { Title = "Render Globe", Url = "/Examples/RenderGlobe" }
    ];

    // ExampleItem class to store information
    private class MapSampleItem
    {
        public string Title { get; set; } = string.Empty;
        public string Url { get; set; } = string.Empty;
        public string? Class { get; set; }
    }

}