@page "/"
@using Community.Blazor.MapLibre.Models

<h2>Introduction</h2>
<p class="mb-3">
    Community.Blazor.Maplibre is a wrapper around <a href="https://maplibre.org/">MapLibre-GL-JS library</a>
</p>
<div class="d-flex flex-column flex-xl-row gap-3 mb-5">
    <div class="shadow rounded col">
        <div>
            <MapLibre Options="_mapOptions" Class="rounded-top"
                 Height="300px"></MapLibre>
        </div>
        <h3 class="p-3">Basic map</h3>
        <div class="alert alert-dark mb-0">
            <code>
<pre>
&lt;MapLibre Options="_mapOptions" Class="rounded-top"
     Height="300px"&gt;&lt;/MapLibre&gt;

@@code
{
    private readonly MapOptions _mapOptions = new()
    {
        Container = "UniqueMapId",
        Style = "https://demotiles.maplibre.org/style.json",
        Center = new LngLat()
        {
            Latitude = -2.320679,
            Longitude = 112.772537
        },
        Zoom = 3
    };
}
</pre>
            </code>
        </div>
    </div>
</div>


@code
{
    private readonly MapOptions _mapOptions = new()
    {
        Container = "UniqueMapId",
        Style = "https://demotiles.maplibre.org/style.json",
        Center = new LngLat()
        {
            Latitude = -2.320679, 
            Longitude = 112.772537
        },
        Zoom = 3
    };
    
}
